<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>EFILoginHiDPI</key>
			<data>
			AAAAAA==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			QA==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			9Q==
			</data>
			<key>UIScale</key>
			<data>
			Ag==
			</data>
			<key>backlight-level</key>
			<data>
			jgI=
			</data>
			<key>bluetoothActiveControllerInfo</key>
			<data>
			EmRcCgAAAABgFDBSy4JOtg==
			</data>
			<key>boot-args</key>
			<string>brcmfx-country=CN lilucpu=8</string>
			<key>csr-active-config</key>
			<data>
			ZwAAAA==
			</data>
			<key>efi-boot-device</key>
			<data>
			PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0Pjxr
			ZXk+SU9Qcm92aWRlckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlh
			PC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5TWF0Y2g8L2tleT48ZGlj
			dD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjY3RjRGMkExLTcxMTQt
			NDI5OC05REU4LTM1QzgzOERENjcyMDwvc3RyaW5nPjwvZGljdD48
			L2RpY3Q+PGtleT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5k
			aXNrMXMyPC9zdHJpbmc+PC9kaWN0PjxkaWN0PjxrZXk+SU9FRklE
			ZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFGaWxlUGF0
			aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XDVENDZC
			NEUwLTdFQ0EtNDdGRi1BMjQ2LTYzRkZBNjM5QUFEMlxTeXN0ZW1c
			TGlicmFyeVxDb3JlU2VydmljZXNcYm9vdC5lZmk8L3N0cmluZz48
			L2RpY3Q+PC9hcnJheT4A
			</data>
			<key>efi-boot-device-data</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxYQAAEAAABkeacoE1Yg
			IAQBKgAEAAAAADAHIAAAAACI4pYbAAAAAC7XzxqEeSVDvZrK7swA
			F0ICAgQDJAD3/HS+fAvzSZFHAfQELmhCofL0ZxRxmEKd6DXION1n
			IAQEmgBcADUARAA0ADYAQgA0AEUAMAAtADcARQBDAEEALQA0ADcA
			RgBGAC0AQQAyADQANgAtADYAMwBGAEYAQQA2ADMAOQBBAEEARAAy
			AFwAUwB5AHMAdABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIA
			ZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBmAGkAAAB/
			/wQA
			</data>
			<key>flagstate</key>
			<data>
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
			</data>
			<key>fmm-computer-name</key>
			<data>
			U3RhYnkncyBNYWNCb29rIFBybw==
			</data>
			<key>platform-uuid</key>
			<data>
			6OFSLJZfRKi2G3ysGI+MwQ==
			</data>
			<key>prev-lang:kbd</key>
			<data>
			emgtSGFuczoyNTI=
			</data>
			<key>security-mode</key>
			<string>none</string>
			<key>specialbootdevice</key>
			<data>
			AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxcQAAEAAABkeacoE1Yg
			IAQBKgAEAAAAADAHIAAAAACI4pYbAAAAAC7XzxqEeSVDvZrK7swA
			F0ICAgQDJAD3/HS+fAvzSZFHAfQELmhC4LRGXcp+/0eiRmP/pjmq
			0n//BAA=
			</data>
		</dict>
		<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
		<dict>
			<key>Boot0080</key>
			<data>
			AQAAABQBTQBhAGMAIABPAFMAIABYAAAAAgEMANBBAwoAAAAAAQEG
			AAAdAQEGAAAAAxYQAAEAAABkeacoE1YgIAQBKgAEAAAAADAHIAAA
			AACI4pYbAAAAAC7XzxqEeSVDvZrK7swAF0ICAgQDJAD3/HS+fAvz
			SZFHAfQELmhCofL0ZxRxmEKd6DXION1nIAQEmgBcADUARAA0ADYA
			QgA0AEUAMAAtADcARQBDAEEALQA0ADcARgBGAC0AQQAyADQANgAt
			ADYAMwBGAEYAQQA2ADMAOQBBAEEARAAyAFwAUwB5AHMAdABlAG0A
			XABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBl
			AHMAXABiAG8AbwB0AC4AZQBmAGkAAAB//wQA
			</data>
			<key>BootOrder</key>
			<data>
			gAA=
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
